<%- include('../partials/header') %>
<div class="container">
	<div class="row mt-5">
		<div class="col-12">
			<h1>Edit Profile</h1>
		</div>
	</div>
</div>
<div class="container mt-3">
	<div class="row justify-content-center mx-1">
		<div class="col form-container p-4">
			<form
				id="frm"
				action="/portal/profile/edit?_method=PUT"
				method="POST"
				enctype="multipart/form-data"
			>
				<div class="form-group">
					<label for="txtUserFirstName">First Name</label>
					<input
						type="text"
						class="form-control"
						id="txtUserFirstName"
						name="txtUserFirstName"
						value="<%= user.first_name %>"
                    />
				</div>
                <div class="form-group">
					<label for="txtUserLastName">Last Name</label>
					<input
						type="text"
						class="form-control"
						id="txtUserLastName"
						name="txtUserLastName"
						value="<%= user.last_name %>"
                    />
				</div>
				<div class="form-group">
					<label for="txtUserEmail">Email</label>
					<input
						type="text"
						class="form-control"
						id="txtUserEmail"
						name="txtUserEmail"
						value="<%= user.email %>"
                    />
				</div>
				<div class="form-group">
					<label for="txtUserWebsite">Website</label>
					<input
						type="text"
						class="form-control"
						id="txtUserWebsite"
						name="txtUserWebsite"
						value="<%= user.website %>"
					/>
				</div>
                <div class="form-group">
                    <label for="fileProfilePicture">Profile Picture</label>
                    <input
                        type="file"
                        class="form-control"
                        id="fileProfilePicture"
						name="fileProfilePicture"
                    />
                </div>
				<button type="submit" class="btn btn-contact btn-contact-slim mt-4">
					Submit
				</button>
			</form>
		</div>
	</div>
</div>
<script src="/scripts/portal/profile/edit.js"></script>
<%- include('../partials/footer') %>
