<%- include('partials/header') %>
			<div class=" text-center">
				<div class="container">
					<div class="row justify-content-center">
						<h1 class="font-weight-bold page-header">General Meetings</h1>
					</div>
				</div>
			</div>
		</div>

		<% if (messages.error) { %>
			<div class='alert alert-danger' role='alert'><%= messages.error %></div>
		<% } %>
		<% if (messages.success) { %>
			<div class='alert alert-success' role='alert'><%= messages.success %></div>
		<% } %>

		<div class="container mt-5 mb-3">
			<div class="row">
				<div class="col-12 text-center">
					<h1 class="meetings-subheader">Our Meetings</h1>
				</div>
			</div>

			<div class="row mt-4 align-items-sm-start align-items-center">
				<div class="col-md-3 col-6 text-center">
					<i class="font-weight-bold main-purple meetings-icon fas fa-calendar-day mb-3"></i>
					<h1 class="event-title pt-3">Time TBD</h1>
				</div>

				<div class="col-md-3 col-6 text-center">
					<i class="font-weight-bold main-purple meetings-icon fas fa-map-marker-alt mb-3"></i>
					<h1 class="event-title pt-3">Location TBD</h1>
				</div>

				<div class="d-none d-md-block col-md-6 text-left">
					<p class="lead font-weight-normal">At AWD we host a weekly meeting open to all members, Texas A&M students, faculty, and staff. The first hour of our meeting consists of updates, company presentation, or lecture series. The second hour of our meeting consists of a beginner or advanced workshop.</p>
				</div>
			</div>
			<div class="row mt-5">

			</div>
		</div>

		<div class="container my-5">

			<h1 class="text-center">Upcoming Meeting Events</h1>

			<% if (!events || events.length < 1) {%>
			<div class="row justify-content-center mt-4 mb-5">
				<h1 class="no-event-text">We don't have any meeting events scheduled, please check back soon.</h1>
			</div>
			<% } else {%>
			<div class="row justify-content-center">
			<% events.forEach(function(event) { %>
				<div class="col-xs-12 col-md-6 col-lg-4 mt-4">
					<div class="text-center justify-content-center">
						<div class="card-container">
								<div class="column">
										<div class="post-module">
												<div class="thumbnail">
													<% if (event.type != "News") {%>
														<div class="date">
															<div class="day"><%=event.event_time.toLocaleString('default', { day: 'numeric' })%></div>
																<div class="month" id="divMonth"><%=event.event_time.toLocaleString('default', { month: 'short' })%></div>
															</div>
													<% } %>
														<img src="<%= event.image_link%>" alt="<%= event.name%> Thumbnail"></div>
												<div class="post-content">
														<div class="category"><%= event.type%></div>
														<h1 class="title"><%= event.name%></h1>
														<h2 class="sub_title"><%= event.summary%></h2>
														<p class="description"><%- event.descr%></p>
														<div class="post-meta">
															<span class="timestamp"><i class="far fa-calendar-alt mr-2"></i><%= event.event_time.toLocaleString([], { month: 'long', day: 'numeric', hour: '2-digit', minute:'2-digit' })%></span>
														</div>
														<div class="post-meta mt-2 pm">
														<% if (event.type == "News") {%>
															<span class="timestamp" title="Author"><i class="fas fa-user-edit mr-2"></i><%= event.author %></span>
														<% } else { %>
															<span class="timestamp" title="Location"><i class="fas fa-map-marker-alt mr-2"></i><%= event.location %></span>
														<% } %>
														</div>
												</div>
										</div>
								</div>
						</div>
					</div>
				</div>
			<% }); %>
			</div>
			<% }%>
		</div>

		<script src="/scripts/general-meetings.js"></script>
<%- include('partials/footer') %>
