<%- include('partials/header') %>
	<!-- <div class="container content">
		<div class="d-flex-inline flex-row text-center">
			<div class="col-xs-12">
				<h1 class="home-banner-header">Aggie Web Developers</h1>
			</div>
		</div>
	</div>

	<form id="frm" action="/" method="POST" class="d-none mt-5">
		<div class="d-none d-sm-flex flex-row justify-content-center">
			<div class="col-lg-10 col-xl-6">
				<div class="input-group input-group-lg mb-3">
					<label class="hidden" for="txtEmail">Your Email</label>
					<input type="email" id="txtEmail" name="txtEmail" class="form-control input-lg"
						placeholder="aggiedevelopers@gmail.com" required>

					<div class="input-group-append">
						<button class="btn" id="btnSubmitHome" type="submit">Join Our Community</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	</div> -->

	<% if (messages.error) { %>
		<div class='alert alert-danger' role='alert'>
			<%= messages.error %>
		</div>
		<% } %>
			<% if (messages.success) { %>
				<div class='alert alert-success' role='alert'>
					<%= messages.success %>
				</div>
				<% } %>

					<header class="header">
						<div class="header__text-box">
							<h1 class="header__title heading-primary">Aggie Web Developers</h1>
							<span class="header__subtitle">Subtitle goes here</span>

							<div class="header__discord-cta">
								<p class="header__cta-text paragraph">
									<span>XX</span> students involved in projects since 2020. <span>Be our XXth</span>
								</p>

								<form class="header__form" id="frm" action="/" method="POST">
									<label class="hidden" for="txtEmail">Your Email</label>
									<input type="email" id="txtEmail" name="txtEmail" class="header__input"
										placeholder="aggiedevelopers@gmail.com" required>

									<button class="btn header__btn" id="btnSubmitHome" type="submit">Join Our Community</button>
								</form>
							</div>
						</div>
					</header>

					<main>
						<!-- WHAT CAN WE DO FOR YOU? -->
						<section id="section-what-can-we-do" class="section-what-can-we-do">
							<div class="container-what-can-we-do">
								<h2 class="heading-secondary">What can we do for you?</h2>

								<div class="features">

									<!-- Workshops -->
									<div class="feature">
										<div class="feature__img-container">
											<img class="feature__img" src="images/SVGs/workshops_illustration.svg" />
										</div>
										<div class="feature__text">
											<h3 class="heading-tertiary feature__title">Workshops</h3>
											<p class="feature__description paragraph">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et purus a odio finibus bibendum
												in
												sit amet leo. Mauris feugiat erat tellus. Lorem ipsum dolor sit amet, consectetur adipiscing
												elit.
												Etiam et purus a odio finibus bibendum in sit amet leo. Lorem ipsum dolor sit amet, consectetur
												adipiscing elit. Etiam et purus a odio finibus bibendum in sit amet leo.
											</p>
											<a href="#" class="btn">Learn more</a>
										</div>
									</div>

									<!-- Projects -->
									<div class="feature">
										<div class="feature__img-container">
											<img class="feature__img" src="images/SVGs/projects_illustration.svg" />
										</div>
										<div class="feature__text">
											<h3 class="heading-tertiary feature__title">Projects</h3>
											<p class="feature__description paragraph">
												Praesent elementum facilisis leo vel fringilla est ullamcorper eget nulla. Viverra vitae congue
												eu
												consequat ac felis donec et odio. Non pulvinar neque laoreet suspendisse interdum consectetur
												libero
												id faucibus. Diam vulputate ut pharetra sit amet aliquam id diam maecenas.
											</p>
											<a href="#" class="btn">Learn more</a>
										</div>
									</div>

									<!-- Meetings -->
									<div class="feature">
										<div class="feature__img-container">
											<img class="feature__img" src="images/SVGs/meetings_illustration.svg" />
										</div>
										<div class="feature__text">
											<h3 class="heading-tertiary feature__title">Meetings</h3>
											<p class="feature__description paragraph">
												Praesent elementum facilisis leo vel fringilla est ullamcorper eget nulla. Viverra vitae congue
												eu
												Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus. Sit amet
												nulla
												facilisi morbi tempus iaculis urna id volutpat. Sed odio morbi quis commodo odio aenean sed
												adipiscing. Scelerisque felis imperdiet proin fermentum. Lorem ipsum dolor sit amet, consectetur
												adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
												id faucibus. Diam vulputate ut pharetra sit amet aliquam id diam maecenas.
											</p>
											<a href="#" class="btn">Learn more</a>
										</div>
									</div>

								</div>

							</div>
						</section>

						<!-- NEWS AND EVENTS -->
						<section id="section-news-and-events" class="section-news-and-events">
							<div class="container-news-and-events">
								<h2 class="heading-secondary">News and Events</h2>

								<div class="info-cards">

									<!-- Card 1 -->
									<div class="info-card">
										<div class="info-card__img-container">
											<img class="info-card__img" src="images/writing.jpg" />
										</div>

										<div class="info-card__body">
											<div class="info-card__sliding-box">
												<span class="info-card__tag info-card__tag--news">News</span>
												<h3 class="info-card__title">10 Rules of Dashboard Design</h3>
												<p class="info-card__subtitle">Dashboard Design Guidelines</p>
											</div>
											<div class="info-card__description-box">
												<p class="info-card__description">
													Erat velit scelerisque in dictum. Commodo elit at imperdiet dui. Sodales neque sodales ut
													etiam sit. Libero id faucibus nisl tincidunt. Id aliquet lectus proin nibh nisl condimentum.
												</p>
											</div>
										</div>

										<div class="info-card__location-and-time">
											<p class="info-card__time">June 9, 03:00 PM</p>
											<p class="info-card__location">Langford C 110</p>
										</div>
									</div>
									<!-- End card 1 -->

									<!-- Card 2 -->
									<div class="info-card">
										<div class="info-card__img-container">
											<img class="info-card__img" src="images/hero.jpg" />
										</div>

										<div class="info-card__body">
											<div class="info-card__sliding-box">
												<span class="info-card__tag info-card__tag--social">Social</span>
												<h3 class="info-card__title">How to Keep Going When You Don&lsquo;t Know What&lsquo;s Next</h3>
												<p class="info-card__subtitle">
													The future can be scary, but there are ways to deal with that fear.
												</p>
											</div>
											<div class="info-card__description-box">
												<p class="info-card__description">
													Orci eu lobortis elementum nibh tellus molestie. Sollicitudin aliquam ultrices sagittis orci a
													scelerisque purus. Hac habitasse platea dictumst quisque sagittis purus sit amet.
												</p>
											</div>
										</div>

										<div class="info-card__location-and-time">
											<p class="info-card__time">June 12, 05:00 PM</p>
											<p class="info-card__location">Langford C 110</p>
										</div>
									</div>
									<!-- End card 2 -->

									<!-- Card 3 -->
									<div class="info-card">
										<div class="info-card__img-container">
											<img class="info-card__img" src="images/dual-moniters.jpg" />
										</div>

										<div class="info-card__body">
											<div class="info-card__sliding-box">
												<span class="info-card__tag info-card__tag--workshop">Workshop</span>
												<h3 class="info-card__title">Why is the Tesla Cybertruck designed the way it is?</h3>
												<p class="info-card__subtitle">An exploration into the truck's polarising design</p>
											</div>
											<div class="info-card__description-box">
												<p class="info-card__description">
													Erat velit scelerisque in dictum. Commodo elit at imperdiet dui. Sodales neque sodales ut
													etiam
													sit. Libero id faucibus nisl tincidunt. Id aliquet lectus proin nibh nisl condimentum.
												</p>
											</div>
										</div>

										<div class="info-card__location-and-time">
											<p class="info-card__time">June 16, 03:00 PM</p>
											<p class="info-card__location">Langford C 110</p>
										</div>
									</div>
									<!-- End card 3 -->

									<% if (events && events.length> 0) {%>
										<% events.forEach(function(event) { %>
											<div class="info-card">
												<div class="info-card__img-container">
													<img class="info-card__img" src="<%= event.image_link%>" alt="<%= event.name%> Thumbnail" />
												</div>

												<div class="info-card__body">
													<div class="info-card__sliding-box">
														<span class="info-card__tag info-card__tag--social">
															<%= event.type%>
														</span>
														<h3 class="info-card__title">
															<%= event.name%>
														</h3>
														<p class="info-card__subtitle">
															<%= event.summary%>
														</p>
													</div>
													<div class="info-card__description-box">
														<p class="info-card__description">
															<%- event.descr%>
														</p>
													</div>
												</div>

												<div class="info-card__location-and-time">
													<p class="info-card__time">June 12, 05:00 PM</p>
													<p class="info-card__location">Langford C 110</p>
												</div>
											</div>


											<!-- <div class="col-xs-12 col-md-6 col-lg-4 mt-4">
												<div class="text-center justify-content-center">
													<div class="card-container">
														<div class="column">
															<div class="post-module">
																<div class="thumbnail">
																	<% if (event.type !="News" ) {%>
																		<div class="date">
																			<div class="day">
																				<%=event.event_time.toLocaleString('default', { day: 'numeric' })%>
																			</div>
																			<div class="month" id="divMonth">
																				<%=event.event_time.toLocaleString('default', { month: 'short' })%>
																			</div>
																		</div>
																		<% } %>
																			<img src="<%= event.image_link%>" alt="<%= event.name%> Thumbnail">
																</div>
																<div class="post-content">
																	<div class="category">
																		<%= event.type%>
																	</div>
																	<p class="title">
																		<%= event.name%>
																			</h3>
																			<p class="sub_title">
																				<%= event.summary%>
																					</h4>
																					<p class="description">
																						<%- event.descr%>
																					</p>
																					<div class="post-meta">
																						<span class="timestamp"><i class="far fa-calendar-alt mr-2"></i>
																							<%= event.event_time.toLocaleString([], { month: 'long' , day: 'numeric' ,
																								hour: '2-digit' , minute:'2-digit' })%>
																						</span>
																					</div>
																					<div class="post-meta mt-2 pm">
																						<% if (event.type=="News" ) {%>
																							<span class="timestamp" title="Author"><i
																									class="fas fa-user-edit mr-2"></i>
																								<%= event.author %>
																							</span>
																							<% } else { %>
																								<span class="timestamp" title="Location"><i
																										class="fas fa-map-marker-alt mr-2"></i>
																									<%= event.location %>
																								</span>
																								<% } %>
																					</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div> -->
											<% }); %>
												<% } else {%>
													<div class="row justify-content-center mt-4 mb-5">
														<div class="col-12 text-center">
															<h3 class="no-event-text">No news is good news, please check back soon.</h3>
														</div>
													</div>
													<% } %>
								</div>



							</div>
						</section>

						<!-- WANT A WEBSITE LIKE THIS? -->
						<section id="section-service-cta" class="section-service-cta">
							<div class="container-service-cta">
								<img class="service-cta__university-logo" src="images/SVGs/A&M-Logo.svg" />
								<p class="service-cta__question">Want a website like this?</p>
								<p class="service-cta__description paragraph">
									AWD offers web development &amp; design services to Non-Profit organizations and Texas A&M student
									organizations
								</p>
								<a href="#" class="btn">Let's talk</a>
							</div>
						</section>

						<!-- MEMBER TESTIMONIALS -->
						<section id="section-member-testimonials" class="section-member-testimonials">
							<div class="container-member-testimonials">
								<h2 class="heading-secondary">Member Testimonials</h2>

								<div class="carousel">
									<svg class="carousel-control carousel-control--left" xmlns="http://www.w3.org/2000/svg" width="37.266"
										height="67.299" viewBox="0 0 37.266 67.299">
										<path
											d="M37.266,5.01v8.329A5,5,0,0,1,35.877,16.8L22.052,30.191a5,5,0,0,0,0,6.916L35.877,50.5a5,5,0,0,1,1.389,3.458v8.329a5,5,0,0,1-8.624,3.446L3.01,40.681a10,10,0,0,1,.035-14.336l25.6-24.78A5,5,0,0,1,37.266,5.01Z" />
									</svg>
									<svg class="carousel-control carousel-control--right" xmlns="http://www.w3.org/2000/svg"
										width="37.266" height="67.299" viewBox="0 0 37.266 67.299">
										<path
											d="M0,5.01v8.329A5,5,0,0,0,1.389,16.8L15.213,30.191a5,5,0,0,1,0,6.916L1.389,50.5A5,5,0,0,0,0,53.959v8.329a5,5,0,0,0,8.624,3.446L34.255,40.681a10,10,0,0,0-.034-14.336L8.624,1.565A5,5,0,0,0,0,5.01Z" />
									</svg>
									<div class="testimonial-cards">
										<!-- Populated by index.js for now -->
									</div>
								</div>


							</div>
						</section>

					</main>


					<!-- <div class="container my-5">

						<h2 class="text-center font-25">News and Events</h2>

						<% if (events && events.length> 0) {%>
							<div class="row justify-content-center">
								<% events.forEach(function(event) { %>
									<div class="col-xs-12 col-md-6 col-lg-4 mt-4">
										<div class="text-center justify-content-center">
											<div class="card-container">
												<div class="column">
													<div class="post-module">
														<div class="thumbnail">
															<% if (event.type !="News" ) {%>
																<div class="date">
																	<div class="day">
																		<%=event.event_time.toLocaleString('default', { day: 'numeric' })%>
																	</div>
																	<div class="month" id="divMonth">
																		<%=event.event_time.toLocaleString('default', { month: 'short' })%>
																	</div>
																</div>
																<% } %>
																	<img src="<%= event.image_link%>" alt="<%= event.name%> Thumbnail">
														</div>
														<div class="post-content">
															<div class="category">
																<%= event.type%>
															</div>
															<p class="title">
																<%= event.name%>
																	</h3>
																	<p class="sub_title">
																		<%= event.summary%>
																			</h4>
																			<p class="description">
																				<%- event.descr%>
																			</p>
																			<div class="post-meta">
																				<span class="timestamp"><i class="far fa-calendar-alt mr-2"></i>
																					<%= event.event_time.toLocaleString([], { month: 'long' , day: 'numeric' ,
																						hour: '2-digit' , minute:'2-digit' })%>
																				</span>
																			</div>
																			<div class="post-meta mt-2 pm">
																				<% if (event.type=="News" ) {%>
																					<span class="timestamp" title="Author"><i class="fas fa-user-edit mr-2"></i>
																						<%= event.author %>
																					</span>
																					<% } else { %>
																						<span class="timestamp" title="Location"><i
																								class="fas fa-map-marker-alt mr-2"></i>
																							<%= event.location %>
																						</span>
																						<% } %>
																			</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<% }); %>
							</div>
							<% } else {%>
								<div class="row justify-content-center mt-4 mb-5">
									<div class="col-12 text-center">
										<h3 class="no-event-text">No news is good news, please check back soon.</h3>
									</div>
								</div>
								<% } %>
					</div> -->

					<script src="/scripts/index.js"></script>
					<%- include('partials/footer') %>