<%- include('../partials/header') %>
<%
	var sendDateFormatted= "";

	if (email.send_date) {
		const offset = email.send_date.getTimezoneOffset();

		var temp_date = new Date(email.send_date.getTime() + (offset*60*1000*-1));
	 		sendDateFormatted = temp_date.toISOString().split('T')[0];
	}
%>

	<div class="container">
		<div class="row mt-5">
			<div class="col-12">
				<h1>Edit Email</h1>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row justify-content-center my-5 px-md-0 px-5">
			<div class="col-xs-10 col-md-10 form-container p-4">
				<h3 class="font-weight-bold mb-3">Edit Email</h3>
				<form id="frm" action="/portal/emails/edit/<%= email.id %>?_method=PUT" method="POST">
					<div class="form-group">
						<label for="txtSubject">Email Subject</label>
						<input type="text" class="form-control" id="txtSubject" name="txtSubject" value="<%=email.subject%>">
					</div>
					<div class="form-group">
						<label for="ddlEmailType">Recipients</label>
						<select class="form-control" id="ddlEmailType" name="ddlEmailType">
							<option value="">Select One</option>
							<option <%=email.recip_type == "All" ? "selected" : ""%>>All</option>
							<option <%=email.recip_type == "Corporate" ? "selected" : ""%>>Corporate</option>
							<option <%=email.recip_type == "General" ? "selected" : ""%>>General</option>
							<option <%=email.recip_type == "Staff" ? "selected" : ""%>>Staff</option>
						</select>
					</div>
					<div class="form-group">
						<label for="txtBody">Email Body</label>
						<textarea id="txtBody" name="txtBody"><%=email.body%></textarea>
					</div>
					<div class="form-group">
						<label for="txtSendDate">Schedule Send Date</label>
						<input type="date" class="form-control" id="txtStartDate" name="txtSendDate" aria-describedby="dateHelp" value="<%=sendDateFormatted %>">
						<small id="sendDateHelp" class="form-text text-muted">Schedule the date for the email to be sent. Leave blank to send manually later.</small>
					</div>
					<div class="form-group">
						<label for="txtSendTime">Schedule Send Time</label>
						<input type="time" class="form-control" id="txtSendTime" name="txtSendTime" value="<%=email.send_date ? (email.send_date).toLocaleTimeString([], {hour: '2-digit', minute:'2-digit', hour12: false}) : ""%>" aria-describedby="timeHelp">
						<small id="timeHelp" class="form-text text-muted">Enter the time of the date above for the email to be sent in your local timezone. We will convert from your timezone to UTC automatically.</small>
					</div>
					<div class="form-check mt-3">
						<input type="checkbox" class="form-check-input checkmark" id="chkDeleted" name="chkDeleted" <%=email.deleted == true ? "checked" : ""%>>
						<label class="form-check-label" for="chkDeleted">Deleted?</label>
					</div>
					<button type="submit" class="btn btn-contact btn-contact-slim mt-4">Submit</button>
				</form>
			</div>
		</div>
	</div>
	<script src="/scripts/portal/emails/edit.js"></script>
<%- include('../partials/footer') %>